$mobile_width: 30em;
$tablet_width: 48em;
$desktop_width: 64em;

@mixin mobile {
  @media (max-width: #{$mobile_width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile_width + 1}) and (max-width: #{$tablet_width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop_width}) {
    @content;
  }
}