.header {
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_logo {
    width: 8rem;
  }

  &_button {
    border: 0rem;
    background-color: var(--color-ghost_white);
    font-size: 0.813rem;
    cursor: pointer;
    color: var(--color-san_marion);
  }

  &_image {
    display: inline-block;
    height: auto;
    margin-left: 0.625rem;
  }
}