.LIGHT {
  background-color: var(--color-ghost_white);
  color: var(--color-san_marion);

  .devfinder {
    color: var(--color-midnight_express);
  }

  .button {
    background-color: var(--color-ghost_white);
    color: var(--color-san_marion);
  }

  .search {
    background-color: var(--color-white);
    box-shadow: inset 1.25rem 0.625rem 1.25rem 0.625rem #FEFEFE;
  }

  input {
    background-color: var(--color-white);
    color: hsl(0, 0%, 0%)
  }

  .information {
    background-color: var(--color-white);
    box-shadow: inset 1.25rem 0.625rem 1.25rem 0.625rem #FEFEFE;
  }

  .github_data {
    background-color: var(--color-ghost_white);
    box-shadow: inset 1.25rem 0.625rem 1.25rem 0.625rem var(--color-ghost_white);
  }

  a:link {
    color: var(--color-san_marion);
  }

  a:visited {
    color: var(--color-san_marion);
  }

  a:active {
    color: var(--color-san_marion);
  }

  .login {
    color: var(--color-blue);
  }

  .profile_link:link {
    color: var(--color-blue);
  }

  .profile_link:visited {
    color: var(--color-blue);
  }

  .profile_link:active {
    color: var(--color-blue);
  }

  .github {
    color: var(--color-san_marion);
  }

  .github_number {
    color: var(--color-licorice);
  }

  .profile_name {
    color: #2B3442;
  }
}

.DARK {
  background-color: var(--color-midnight_express);
  color: var(--color-white);

  .button {
    background-color: var(--color-midnight_express);
    color: var(--color-white);
  }

  .search {
    background-color: var(--color-midnight_express_dark);
    box-shadow: inset 1.25rem 0.625rem 1.25rem 0.625rem var(--color-midnight_express_dark);
  }

  input {
    background-color: var(--color-midnight_express_dark);
    color: var(--color-white);
  }

  .information {
    background-color: var(--color-midnight_express_dark);
  }

  .github_data {
    background-color: var(--color-midnight_express);
    box-shadow: inset 1.25rem 0.625rem 1.25rem 0.625rem var(--color-midnight_express);
  }

  a:link {
    color: var(--color-white);
  }

  a:visited {
    color: var(--color-white);
  }

  a:active {
    color: var(--color-white);
  }

  .login {
    color: var(--color-blue);
  }

  .profile_link:link {
    color: var(--color-blue);
  }

  .profile_link:visited {
    color: var(--color-blue);
  }

  .profile_link:active {
    color: var(--color-blue);
  }

  .github {
    color: var(--color-white);
  }

  .github_number {
    color: var(--color-white);
  }
}