.LIGHT {
  background-color: #F6F8FF;
  color: #4B6A9B;
}

.DARK {
  background-color: #141D2F;
  color: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0rem;
  margin: 0rem;
}